* {
  box-sizing: border-box;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
p {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  display: flex;
}
.sidear {
  box-shadow: 0 0 10px #ddd;
  width: 250px;
}
.sidear h2 {
  width: 50%;
  margin: auto;
  position: relative;
  padding: 10px 10px;
}
.sidear h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: -10%;
  left: 5%;
  z-index: 0;
}
.sidear h2::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  bottom: calc(-10% - 7.5px);
  left: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  outline: 5px solid white;
  z-index: 1;
}
.sidear ul {
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 30px;
}
.sidear ul li a {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sidear ul li i {
  margin-right: 5px;
}
.sidear ul li a:hover,
.sidear ul li a.active {
  background-color: #eee;
}
@media (max-width: 767px) {
  .sidear {
    width: 60px;
    position: relative;
  }
  .sidear ul li a span,
  .sidear h2::before,
  .sidear h2::after {
    display: none;
  }
  .sidear h2 {
    font-size: 12px;
    position: absolute;
    left: -15px;
  }
  ul li {
    width: 40px;
  }
}
.projects {
  width: 100%;
  /* overflow: hidden; */
}
.projects nav {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.projects nav .icons img {
  width: 32px;
}
nav input {
  border: none;
  display: block;
}
nav input:focus {
  outline: none;
}
nav .field i {
  margin-right: 5px;
}
nav .field {
  border: 1px solid #ccc;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
nav .icons {
  display: flex;
  align-items: center;
}
nav .icons img {
  margin-left: 15px;
}
nav .icons i {
  position: relative;
}
nav .icons i::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--red-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -15px;
  right: -5px;
}
.projects .content {
  background-color: #f1f5f9;
  padding: 15px 15px;
}
.projects .content h1 {
  position: relative;
  margin-bottom: 30px;
}
.projects .content h1::after {
  content: "";
  position: absolute;
  width: 10%;
  height: 3px;
  background-color: black;
  background-image: linear-gradient(to right, black 40%, white 40%);
  bottom: 0;
  left: 0;
}
.toggle-checkbox {
  appearance: none;
  display: none;
}
.toggle-switch {
  background-color: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.toggle-switch::before {
  font-family: var(--fa-style-family-classic);
  content: "\f00d";
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 50%;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: 0.3s;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
.box-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 20px;
}
.box-container .box {
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 15px;
}
.box-container .box img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid white;
}
.box-container .box img:not(:first-child){
  margin-left: -20px;
}
.box-container .box p {
  color: var(--grey-color);
}
.head {
  display: flex;
  justify-content: space-between;
}
.images {
  padding: 40px 0 20px;
  border-bottom: 1px solid #ddd;
}
.specs {
  display: flex;
  justify-content: flex-end;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
.specs div {
  display: inline-block;
  background-color: #eee;
  margin-left: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}
.head span,.price{
  color: var(--grey-color);
}
.bar {
  width: 260px;
  height: 8px;
  background-color: #eee;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
}
.bar span {
  position: absolute;
  width: 50%;
  left: 0;
  height: 100%;
  top: 0;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.bar-1 span {
  background-color: var(--red-color);
}
.bar-2 span{
  background-color: var(--blue-color);
}
.bar-4 span {
  background-color: var(--green-color);
}
.bar-3 span{
  background-color: var(--grey-color);
}
.bar-5 span {
  background-color: var(--red-color);
}
.bar-6 span{
  background-color: var(--blue-color);
}
.bar-7 span {
  background-color: var(--grey-color);
}
.bar-8 span{
  background-color: var(--green-color);
}
.bar-9 span{
  background-color: var(--red-color);
}
